.pAside {
  font-family: "Rubik Wet Paint", cursive;
  font-size: 2.4rem;
  background: rgb(159, 158, 158);
  padding: 5px;
  height: 450px;
  width: 270px;
  border: 7px solid rgb(197, 187, 187);
  border-radius: 9px;
}

.buttonAside {
  font-size: 1.5rem;
  background-color: rgb(104, 151, 171);
  color: rgb(27, 2, 2);
  border: 2px solid rgb(78, 75, 181);
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: 28px;
  padding: 2.5px;
  cursor: pointer;
  /* cursor:hover */
}

@media screen and (max-width: 1282px) {
  .pAside {
    font-size: 1.7rem;
    padding: 5px;
    height: 90%;
    width: 90%;
    display: block;
  }

  .buttonAside {
    font-size: 1.3rem;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 4px;
  }
}

@media screen and (max-width: 1060px) {
  .divAside {
    display: none;
  }
}

@media screen and (max-width: 873px) {
  .pAside {
    font-size: 1.3rem;
    display: block;
  }

  .divAside {
    display: block;
  }
}

@media screen and (max-width: 526px) {
  .divAside {
    width: 60%;
    margin: auto;
  }
}

@media screen and (max-width: 464px) {
  .pAside {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 390px) {
    .divAside {
      width: 90%;
    }
  }