.MKPeliculasPage {
    background-color: rgb(18, 3, 18);
    font-size: 13px;
    font-family: 'Poltawski Nowy', serif;
    color: rgb(234, 226, 243);
    text-align: center;
    margin: auto;
    max-width: 80%;
    box-sizing: border-box;
}

@media screen and (max-width:650px){
    .MKPeliculasPage {
        font-size: 11px;
        max-width: 90%;
    }
}