.MKVideojuegosPage {
  background-color: rgb(18, 3, 18);
  font-family: "Poltawski Nowy", serif;
  color: rgb(234, 226, 243);
  text-align: center;
  margin: auto;
  max-width: 80%;
  box-sizing: border-box;
  font-size: 13px;
}

@media screen and (max-width: 1050px) {
  .MKVideojuegosPage {
    font-size: 13px;
    max-width: 95%;
  }
}

@media screen and (max-width: 650px) {
  .MKVideojuegosPage {
    font-size: 12px;
    max-width: 90%;
  }
}
