* {
  font-family: "Coda Caption", sans-serif;
  font-size: 16px;
}

.precio-item {
  color: #b48282;
  display: block;
}

.caja-item {
  background-color: #110d19;
  margin: 15px 12px;
  height: 405px;
  width: 255px;
  border-radius: 5px;
  border: 1px solid #0b012d;
  display: block;
  padding: 15px;
}

.imgURL {
  width: 270px;
  height: 305px;
}

.boton-agregar {
  font-size: 13.5px;
  background-color: #a00404;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 15px;
}

.boton-eliminar {
  font-size: 13.5px;
  background-color: #d9534f;
  border-radius: 5px;
  color: #fff;
  border: #110d19;
  cursor: pointer;
  padding: 8px;
}

.agregar-mas {
  font-size: 13.5px;
  background-color: #4c83b3;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.contador-item {
  color: #fff;
  background-color: #6c0d0d;
  display: flex;
  justify-content: center;
  border-radius: 20%;
  max-width: 40px;
  position: relative;
  left: 100px;
}

@media screen and (max-width: 698px) {
  * {
    font-size: 12px;
  }

  .caja-item {
    margin: 12px 10px;
    height: 350px;
    width: 40%;
    padding: 9px;
  }

  .imgURL {
    width: 95%;
    height: 250px;
  }

  .boton-agregar,
  .boton-eliminar {
    border-radius: 10px;
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 568px) {
  .caja-item {
    height: 320px;
    width: 41.5%;
    padding: 2px;
  }

  .boton-agregar,
  .boton-eliminar {
    font-size: 11px;
    padding: 5px;
  }
}

@media screen and (max-width: 530px) {
  * {
    font-size: 11px;
  }

  .boton-agregar,
  .boton-eliminar {
    padding: 4px;
  }
}

@media screen and (max-width: 484px) {
  .caja-item {
    font-size: 12px;
    height: 250px;
    width: 38%;
    padding: 2px;
  }

  .imgURL {
    width: 95%;
    height: 170px;
  }

  .boton-agregar,
  .boton-eliminar {
    font-size: 9px;
    padding: 6px;
  }
}

@media screen and (max-width: 440px) {
  .caja-item {
    height: 210px;
    width: 35%;
    padding: 1px;
  }

  .imgURL {
    width: 95%;
    height: 130px;
  }

  .boton-agregar,
  .boton-eliminar {
    padding: 5px;
  }
}

@media screen and (max-width: 372px) {
  * {
    font-size: 10px;
  }

  .caja-item {
    height: 250px;
    width: 60%;
  }

  .imgURL {
    width: 95%;
    height: 190px;
  }

  .boton-agregar,
  .boton-eliminar {
    font-size: 11px;
  }
}

@media screen and (max-width: 372px) {
  .caja-item {
    height: 260px;
    width: 70%;
  }
}

@media screen and (max-width: 320px) {
  * {
    font-size: 9px;
  }

  .caja-item {
    height: 260px;
    width: 75%;
  }
}

@media screen and (max-width: 255px) {
  .caja-item {
    height: 260px;
    width: 90%;
  }
}